/* General */
body {
  margin: 0;
  height: 100vh;

  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #41454c;
  color: white;
  padding: 15px 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

/* Logo */
.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s;
}

.logo-it {
  color: #00bfff;
  font-size: 40px;
  cursor: pointer;
}

.logo-itecs {
  color: rgb(230, 230, 230);
  margin-left: 4px;
}

.navbar-logo:hover {
  color: #00bfff;
  transform: translateY(-3px);
}

/* Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.navbar-links li {
  color: rgb(213, 213, 213);
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s;
  display: inline-block;
}

.navbar-links li:hover {
  color: #00bfff;
  transform: translateY(-3px);
}

.navbar-links .active {
  color: #8b5cf6;
}

/* Icons */
.navbar-icons {
  display: flex;
  gap: 20px;
  font-size: 18px;
  color: #fcfafa;
}

.icon {
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: white;
}

/* Hamburger Icon */
.navbar-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar-links {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1s cubic-bezier(0.77, 0, 0.175, 1), opacity 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #41454c;
    padding: 0;
    gap: 20px;
    z-index: 10;
  }

  .navbar-links.open {
    max-height: 500px; /* Ajusta según el contenido */
    opacity: 1;
    padding: 20px 0;
  }

  .navbar-icons {
    display: none;
  }

  .navbar-menu-icon {
    display: block;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* Home */
.rectangulo {
  width: 700px;
  height: 150px;
  background: linear-gradient(to right, #808080, #dcdcdc);
  border-radius: 10px;
  border: 1px solid #444;
  text-align: center;
}

/* Centrar el rectángulo en pantalla */
.rectangulo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 100%;
}
